<form (ngSubmit)="onFormSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investment">Initial Investment</label>
      <input
        [(ngModel)]="initialInvestment"
        type="number"
        name="initial-investment"
        id="initial-investment"
      />
    </p>
    <p>
      <label for="annual-investment">Annual Investment</label>
      <input
        [(ngModel)]="annualInvestment"
        type="number"
        name="annual-investment"
        id="annual-investment"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label>
      <input
        [(ngModel)]="expectedReturn"
        type="number"
        name="expected-return"
        id="expected-return"
      />
    </p>
    <p>
      <label for="duration">Duration</label>
      <input
        [(ngModel)]="duration"
        type="number"
        name="duration"
        id="duration"
      />
    </p>
  </div>
  <p>
    <button>Calculate</button>
  </p>
</form>
